[submodule "AdaBins"]
	path = AdaBins
	url = https://github.com/shariqfarooq123/AdaBins.git
[submodule "LapDepth-release"]
	path = LapDepth-release
	url = https://github.com/tjqansthd/LapDepth-release.git
[submodule "bts"]
	path = bts
	url = https://github.com/cogaplex-bts/bts.git
[submodule "DPT"]
	path = DPT
	url = https://github.com/intel-isl/DPT.git
